<ul class="pages">
  <li class="chat page" style="display: list-item;">
    <div class="chatArea">
      <ul class="messages" id="messages">
        <li>Test</li>
      </ul>
    </div>
    <input class="inputMessage fixed-bottom" placeholder="Type here...">
  </li>
</ul>