<div class="list-group">
    <a class="list-group-item active">
        管理類別
    </a>
    <%= link_to  "產品管理", product_manages_path ,class:'list-group-item'%>
    <%= link_to  "訂單管理", orders_path ,class:'list-group-item'%>
</div>